@page "/museum-details/{Id}"
@inherits MuseumEventDetailsViewModel
@using Museum.Frontend.Components.Pages.MuseumEventDetails.Components;
@using Museum.Frontend.Infrastructure

@if (DetailsVm != null)
{
    <PageTitle>@DetailsVm.Name</PageTitle>
} else
{
    <PageTitle>Событие</PageTitle>
}

<div class="page-title" 
style="background-image: url(@PagetTitleImg); background-size: cover">
    <div class="auto-container">
        <h1>@DetailsVm?.Name</h1>
    </div>
</div>

<section class="section-padding">
    <div class="auto-container">
        <div class="row">
            <div class="col-lg-8 pe-lg-35">
                <div class="single-post">
                    <h2 class="mb_40">@DetailsVm?.Name</h2>
                    <p class="mb_20">@DetailsVm?.Description</p>
                </div>
                @if (DetailsVm?.Photos != null && DetailsVm.Photos.Any())
                {
                    <h3 class="fs_40 mb_30">Фотографии</h3>
                    <div class="position-relative mb_60">
                        <div class="swiper room-gallery-slider">
                            <div class="swiper-wrapper">
                                @foreach (var photo in DetailsVm.Photos)
                                {
                                    if (photo != null && !string.IsNullOrEmpty(photo.FilePath))
                                    {
                                        <div class="swiper-slide">
                                            <img src="@Path.Combine(BaseUrl, photo.FilePath.Replace("\\", "/"))" alt="@DetailsVm">
                                        </div>
                                    }
                                }
                            </div>
                            <!-- Добавляем навигационные кнопки -->
                            <div class="swiper-button-next px-4">
                                <span><i class="icon-2"></i></span>
                            </div>
                            <div class="swiper-button-prev px-4">
                                <span><i class="icon-3"></i></span>
                            </div>

                            <!-- Добавляем пагинацию (точки) -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-lg-4">
                @if(DetailsVm != null)
                {
                    <WidgetComponent 
                        StartDate="@DetailsVm.StartDate.DateTime"
                        EndDate="@(DetailsVm.EndDate.HasValue ? DetailsVm.EndDate.Value.DateTime : null)"
                        EventTypeDefenition="@MuseumEventTypeDescriptions.GetMuseumEventTypeDescription(DetailsVm.EventType)"
                        AudienceTypeDefenition="@AudienceTypeDescriptions.GetAudienceTypeDescription(DetailsVm.AudienceType)"
                        Annotation="@DetailsVm.Annotation"
                        TicketLink="@DetailsVm.TicketLink"/>
                }
            </div>
        </div>
        
    </div>
</section>

