@inject NavigationManager _navigationManager

@using Museum.Frontend.Infrastructure.Common
<div class="col-lg-12">
    <div class="event-1-block align-items-center d-flex wow fadeInLeft" data-wow-delay=".2s" data-wow-duration=".8s">
        <div class="event-1-image">
            <a href="@CardDetailsLink">
                <div class="img-container">
                    <img src="@ImageUrl" alt="@Title">
                </div>
            </a>
        </div>
        <div class="event-1-bottom-content">
            <h4 class="event-1-title mb_5"><a href="@CardDetailsLink">@Title</a></h4>
            <p class="event-1-meta-info mb_15">@EventTypeDefenition | @DateString</p>
            <p>
                @Text
            </p>
            <div class="link-btn"><a @onclick="NevigateToDetails" class="btn-1 btn-alt">Подробнее<span></span></a></div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string ImageUrl { get; set; } = string.Empty;
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public string Text { get; set; } = string.Empty;
    [Parameter] public string CardDetailsLink { get; set; } = string.Empty;

    [Parameter]
    public DateTime StartDate { get; set; }
    [Parameter]
    public DateTime? EndDate { get; set; }

    [Parameter]
    public string EventTypeDefenition { get; set; } = string.Empty;

    public string DateString => EndDate.HasValue
    ? DateFormater.FormatDateRange(StartDate, EndDate.Value)
    : StartDate.ToString("dd MMMM");

    void NevigateToDetails()
    {
        _navigationManager.NavigateTo(CardDetailsLink, true);
    }
}