@page "/museum-events"
@* @rendermode InteractiveServer *@
@inherits MuseumEventListViewModel

@using Museum.Frontend.Components.Pages.MuseumEventList.Components
@using Museum.Frontend.Infrastructure

@* <FilterComponent /> *@

<section class="pt_60 pb_60">
    <div class="auto-container">
        <div class="section_heading text-center mb_60">
            <h2 class="section_heading_title_big mb_20">Выставки и события</h2>
            <span class="section_heading_title_small">Все выставки и события</span>
        </div>
        <div class="row">
            @if(MuseumEventListVm != null)
            {
                foreach(var museumEvent in MuseumEventListVm.MuseumEvents)
                {
                    string detailsLink = $"/museum-details/{museumEvent.Id.ToString()}";

                    <EventCard ImageUrl="@Path.Combine(BaseUrl, museumEvent.Photos.First().FilePath.Replace("\\", "/"))"
                        Title="@museumEvent.Name"
                        Text="@museumEvent.Annotation"
                        CardDetailsLink="@detailsLink"
                        EventTypeDefenition="@MuseumEventTypeDescriptions.GetMuseumEventTypeDescription(museumEvent.EventType)"
                        StartDate="@museumEvent.StartDate.DateTime"
                        EndDate="@(museumEvent.EndDate.HasValue ? museumEvent.EndDate.Value.DateTime : null)"/>
                }
            } 
            else
            {
                <h4>Нет событий</h4>
            }
           
        </div>
    </div>
</section>